        html {
                display: flex;
                justify-content: center;
                align-content: center;
                margin-top: 20vh;
                margin-bottom: 20vh;
                
        }
        
        main {
                /* position: relative;
            top: 500px;
            left: 300px;*/
                
                font-size: 15pt;
                border: solid 2px black;
                height: 680px;
                width: 350px;
                border-radius: 30px;
                background-color: lightcyan;
        }
        
        h1 {
                text-align: center;
                margin: 2px;
        }
        
        #result {
                border: 2px solid;
                height: 100px;
                border-radius: 10px;
                background-color: white;
                margin: 10px 10px;
        }
        
        
        button {
                font-size: 2px;
                padding: 0px;
                margin: 0px;
        }
        
        .gird {
                display: grid;
                grid-template-columns: 30px 30px 30px 30px 30px 30px;
                grid-template-rows: 30px 30px 30px 30px 30px;
                justify-content: center;
                column-gap: 20px;
                row-gap: 13px;
        }
        
        #so {
                grid-column: 3/5;
                grid-row: 1/3;
                border-radius: 60px;
        }
        
        .grid2 {
                justify-content: center;
                display: grid;
                grid-template-rows: 50px 50px 50px 50px;
                grid-template-columns: 40px 40px 40px 40px 40px;
                gap: 10px 20px;
                padding: 10px;
        }
        
        .a {
                font-size: 20px;
                width: 45px;
                height: 45px;
                border-radius: 20px;
                
        }
        
        .st {
                width: 45px;
                border-radius: 29px;
                font-size: 13px;
        }
        
        .tip {
                border-radius: 21px;
                width: 35px;
                font-size: 13px;
        }
        
        .dx {
                text-align: center;
                padding: 5px;
                margin: 0px;
                border: 1px solid;
                border-radius: 0px 0px 30px 30px;
                background-color: white;
        }